.movieInformation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8080808a;
  box-shadow: -1px 4px 4px 0px #8080804d;
}
.filmInformation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.additionalInfo {
  margin-top: 20px;
  padding-bottom: 10px;
}
.additionalLink {
  display: block;
}
