.link {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.06em;
  border: 1px solid gray;
  background-color: transparent;
  color: black;
  border-radius: 4px;
  padding: 4px 4px;
  transition: background-color 1s;
}

.link:hover,
.link:focus {
  background-color: rgb(196, 196, 196);
  color: black;
  border-color: blue;
}
